/* Reset base e impostazioni globali */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

/* Stile del contenitore principale */
.container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Stilizzazione dei campi di input */
input[type="text"] {
    padding: 10px;
    margin-top: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Stilizzazione dei pulsanti */
button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #0056b3;
}

/* Stilizzazione del messaggio di stato */
.status {
    margin-top: 20px;
    font-size: 1.1em;
    color: #666;
}

/* Stilizzazione dei risultati */
#result {
    text-align: left;
    margin-top: 25px;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 4px solid #007bff;
    display: none; /* Nascondi fino a quando non sono presenti risultati */
    overflow: auto;
}

/* Stile per il Modal del Disclaimer */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#gifContainer p#gifMessage {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  