<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Analyzer AI Crew</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- Aggiungi FontAwesome per l'icona di LinkedIn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>Stock Analyzer AI Crew</h1>
        <form id="analysisForm">
            <label for="company">Enter Company Name:</label><br>
            <input type="text" id="company" name="company" required><br>
            <button type="submit">Analyze</button>
        </form>
        <a href="https://www.linkedin.com/in/filippocorsini/" class="linkedin-icon" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
        <div id="statusMessage" class="status">
            <p>Status: <span id="statusText">Waiting...</span></p>
        </div>
        <div id="loader" class="loader" style="display:none;"></div>
        <div id="gifContainer" style="display:none;">
            <p id="gifMessage">L'analisi può richiedere alcuni minuti, nel frattempo goditi l'ultimo video di Franchino.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/yVmPf7T97vg?si=-00TGUdKdNMQR8rl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <div id="result">
            <!-- Analysis Result Will Be Displayed Here -->
        </div>
    </div>

    <div id="disclaimerModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>This tool is for educational purposes only and should not be used for investment decisions.</p>
            <button id="agreeButton">Ho capito</button>
        </div>
        
    </div>

    <script src="../static/script.js"></script>
</body>
</html>
